#For partition
tdm_control -type hstdm
tdm_control -hstdm_bit_rate 1400
tdm_control -qualification_mode  all
tdm_control -max_ratio 16
#tdm_control -max_ratio 8 

#cell assign
bin_attribute {FB1.uC FB1.uD} -locked
assign_cell {un5[7:0]
un1_quotient_reg[7:0]
un1_in_valid[2:0]
un1_count_10[7:0]
un1_in_valid_1[2:0]
input_B[7:0]
un1_remainder_reg
un1_count_7[4:0]
input_A_dec[7:0]
un1_c_state[7:0]
input_A[7:0]
c_state[2:0]
un1_remainder_reg_2[7:0]
un1_in_valid_18[7:0]
un1_count[3:0]
count[3:0]} {FB1.uA}


assign_cell {un1_count_8[3:0]
un1_count_6[3:0]
un1_remainder_reg_1[7:0]
out_valid
quotient[7:0]
quotient_reg[7:0]
input_A_pmux
remainder[7:0]
remainder_reg[7:0]
un1_rst_n
un1_input_B[7:0]
un1_count_1[3:1]} {FB1.uB}

#Global clock assign
assign_global_net {clk1} {GCLK1}
#assign_global_net {clk2} {GCLK2}

#reset
assign_virtual_port -port {rst_n} -type USR_LOCAL_RESET -bin {FB1.uA}
reset_synchronize -toplevel_net {rst_n} -clock {clk1} -init {0} -extra_pipeline_stages {2}

#TOP IO assign
assign_port {remainder[7:0]} {TOP_IO_HT3_FB1_B5/A[7:0]}
assign_port {quotient[7:0]} {TOP_IO_HT3_FB1_B5/B[7:0]}
assign_port {out_valid} {TOP_IO_HT3_FB1_B5/A[8]}




