#For partition
tdm_control -type hstdm
tdm_control -hstdm_bit_rate 1400
tdm_control -qualification_mode  all
tdm_control -max_ratio 16
#tdm_control -max_ratio 8 

#cell assign
bin_attribute {FB1.uC FB1.uD} -locked
assign_cell {FIR} {FB1.uA}
#assign_cell {led_inst1 led_inst2} {FB1.uB}

#Global clock assign
assign_global_net {clk1} {GCLK1}
#assign_global_net {clk2} {GCLK2}

#reset
assign_virtual_port -port {reset} -type USR_LOCAL_RESET -bin {FB1.uA}
reset_synchronize -toplevel_net {reset} -clock {clk1} -init {0} -extra_pipeline_stages {2}

#TOP IO assign
assign_port {Dout[7:0]} {TOP_IO_HT3_FB1_B5/A[7:0]}
assign_port {Dout[12:8]} {TOP_IO_HT3_FB1_B5/A[12:8]}
assign_port {Dout[17:13]} {TOP_IO_HT3_FB1_B5/B[4:0]}




